.row {
    display: flex;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.box{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
